$section-background: #099088;
$header-color: #61e5bc;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "Lato";
  background-color: #72d8d2;
  box-sizing: border-box;
  
  .header-div {
    background-color: $section-background;
    color: $header-color;
    margin: 0 0 40px 0;
    padding: 10px 0 15px 0;
    -webkit-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 1);
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    height: auto;
    
    #preview,
    .text-div {
      height: 525px;
      margin: 15px 0;
      
      .section-container {
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
        height: 100%;
        
        .subtitle-container {
          padding: 5px;
          background-color: $section-background;
          
          .subtitle {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
          }
          
          .clear {
            float: right;
            color: #ffffff;
            text-decoration: underline;
            font-size: 20px;
            cursor: pointer;
          }
        }
        
        #editor,
        .content {
          width: 100%;
          height: 93%;
          overflow: auto;
          padding: 15px;
          background-color: #C0D8D8;
        }
      }
    }
  }
  
  .footer-div {
    background-color: $section-background;
    color: $header-color;
    margin: 30px 0 0 0;
    padding: 10px 0 20px 0;
    -webkit-box-shadow: 0px -3px 15px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px -3px 15px -1px rgba(0, 0, 0, 1);
  }
}

@media screen and (max-width: 1240px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .header-div h1 {
    font-size: 25px;
  }
}
